---
title: "Protien rolls"
description: "High Protein rolls"
date: "2026-09-04"
tags: ["lunch", "dinner"]
prepTime: "20 min"
cookTime: "40 min"
totalTime: "1 hour"
servings: 3
---

## Ingredients

- 1/2 Tbs (7g) olive oil
- 1 lbs (454g) bone-in skinless chicken
- salt/pepper to taste
- 2 1/2 Tbs (35g) butter
- 1/2 (110g) yellow onion diced
- 1/2 cup (65g) diced carrots
- 1 stick (40g) diced celery
- 1 1/2 cloves (5g) diced
- 1/2 tsp (3g) worcestershire sauce
- 1/2 tsp (3g) hot sauce (like Franks)
- 2 Tbs (16g) flour
- 2 1/4 Cups (530g) chicken broth
- 3/4 Cup (180g) half & half
- 1/4 Cup (35g) frozen peas

### Seasonings

- 1/2 tsp (1.5g) onion powder
- 1/4 tsp dried basil
- 1/4 tsp parsley
- 1/4 tsp thyme
- 1/4 tsp rosemary
- 1/4 tsp mustard powder
- 1/8 tsp ground sage
- pinch pepper

### Dumplings

- 1 Cup (120g) flour (all purpose or cake)
- 1 tsp (4g) baking powder
- 1/4 tsp (1.5g) baking soda
- 1/2 tsp (3g) salt
- 1/4 tsp garlic powder
- 1 tsp (4g) sugar
- 1/4 Cup (60g) sour cream
- 2 Tbs (28g) butter melted butter



## Instructions

### Step 1: Heat milk, add quinoa.

1. In a small saucepan add and bring milk to a boil.
2. add quinoa and once its back at a boil
3. reduce to low heat and simmer covered until about 3/4 of the milk has been absorbed (~15 mins)

    
### Step 2: Add sugar & cinnamon.

4. sir in sugar and cinnamon. Cook covered until most of the milk has been absormed (~8 mins)
5. Sir in blue berries and cook for only about 30 seconds.

### Step 3: Serve.

- Devide and serve with optional extra cinnamon, milk, or/and blueberries.



    
