---
title: "Brakfast Quinoa"
description: "High Protein rolls"
date: "2026-09-04"
tags: ["lunch", "dinner"]
prepTime: "20 min"
cookTime: "40 min"
totalTime: "1 hour"
servings: 3
---

## Ingredients

- 1/2 Tbs olive oil
- 1 lbs bone-in skinless chicken
- salt/pepper to taste
- 2 1/2 Tbs butter
- 1/2 yellow onion diced
- 1/2 cup diced carrots
- 1 stick diced celery
- 1 1/2 cloves diced
- 1/2 tsp worcestershire sauce
- 1/2 tsp hot sauce (like Franks)
- 2 Tbs flour
- 2 1/4 Cups chicken broth
- 3/4 Cup half & half
- 1/4 Cup frozen peas

### Seasonings

- 1/2 tsp onion powder
- 1/4 tsp dried basil
- 1/4 tsp parsley
- 1/4 tsp thyme
- 1/4 tsp rosemary
- 1/4 tsp mustard powder
- 1/8 tsp ground sage
- pinch pepper

### Dumplings

- 1 Cup flour (all purpose or cake)
- 1 tsp baking powder
- 1/4 baking soda
- 1/2 tsp salt
- 1/4 tsp garlic powder
- 1 tsp sugar
- 1/4 Cup sour cream
- 2 Tbs butter melted butter



## Instructions

### Step 1: Heat milk, add quinoa.

1. In a small saucepan add and bring milk to a boil.
2. add quinoa and once its back at a boil
3. reduce to low heat and simmer covered until about 3/4 of the milk has been absorbed (~15 mins)

    
### Step 2: Add sugar & cinnamon.

4. sir in sugar and cinnamon. Cook covered until most of the milk has been absormed (~8 mins)
5. Sir in blue berries and cook for only about 30 seconds.

### Step 3: Serve.

- Devide and serve with optional extra cinnamon, milk, or/and blueberries.



    
