---
title: "Pancakes - oat and wheat flour"
description: "simple low sugar Pancakes that are delicious on there own"
date: "2026-09-01"
tags: ["breakfast", "vegetarian"]
prepTime: "10 min"
cookTime: "5 min"
totalTime: "15 min"
servings: ~8
nutrition:
    calories: 103
    carbs: "16g"
    fiber: "2.5g"
    sugar: "2g"
    Protein: "4g"
    fat: "2.8g"
    sodium: "210mg"
---


## Ingredients
 * 1 cup whole wheat flour - 2 Tbs if adding flax
 * 1/2 cup oat flour
 * 2 tsp baking powder
 * 1/2 tsp baking soda
 * 1/2 tsp salt
 * 1 1/4 cups milk
 * 1 large egg
 * 1 tbsp honey
 * 1 tbsp melted butter or oil
 *  10 drops monk fruit
 *  1 tsp vanilla extract
 *  2 Tbs ground flax

## Instructions

1. Add all dry Ingredients to medium bowl and mix.
    - whole wheat flour
    - oat flour
    - baking powder
    - baking soda
    - salt
    - ground flax
2. Add all wet Ingredients to small bowl and mix well.
    - milk
    - egg
    - honey
    - butter / oil
    - monk fruit
    - vanilla extract
3. Pour wet into the dry and roughly mix togeather.

I like to then pour the batter into a large (4 cup) measuring cup to make it easy to pour the pancakes.
