---
title: "Peanut sauce"
description: "Basic homemade Peanut sauce"
date: "2026-09-01"
tags: ["sauce", "vegetarian", "make-ahead"]
prepTime: "10 min"
cookTime: "0 min"
totalTime: "10 min"
servings: 10
nutrition:
---

## Ingredients

- 1/2 Cup Creamy Peanut Butter 128g x 2
- 2 Tbs rice vinegar 9g x2
- 2 Tbs reduced-sodium tamari or soy sauce - 13g x 2
- 2 Tbs honey 22g x 2
- 1 Tbs toasted sesame oil - 5g x 2
- 2 cloves garlic minced - 6g x 2
- 2 - 3 Tbs water as needed

## Instructions

1. Mix well
