---
title: "One Year In: What I Got Wrong About Eating Well With Diabetes"
description: "Cutting carbs almost to zero kept my blood sugar in check. It also quietly cut out most of what I was supposed to be eating."
date: "2026-09-22"
author: "DevInTheMtn"
tags: ["essay", "diabetes", "nutrition"]
---

About a year ago today the plan was to get healthy again: carbs were the problem, so carbs had to go. I concentrated on getting rid of all sugar and as many carbs as possible. I got my blood sugar under control quickly, so it worked, in the narrowest sense. I hated food, but I did start to feel a bit better. I also plateaued after a few months, though, and just didn't have much energy or focus.

I slowly started to add in healthy vegetables and even some fruits. I learned, with help from my doctor and my own research, that non-starchy vegetables were the best for me, so I got to add back some of my favorites, like broccoli and Brussels sprouts. Then, as I started to experiment with how my body dealt with fruit, I found I could have half an apple or a slice of pear.

After slowly adding some normal foods back in and some substitute's, I found that things went much better for me and more enjoyable so I could start to enjoy some meals again. I also found if I had protein before the carbs, for example: a protein drink, some chicken, eggs, or something similar a little before the fruit or something with some carbs things went much better for me and by glucose levels stayed much more level.
